body{
    border: 1em gray solid;
    margin:2% auto;
    width:50%;
    padding:2%;
    font-size:20px;
}
.post-date{
    text-transform: uppercase;
    letter-spacing: 10px;
    color:dodgerblue;
    font-family: 'Six Caps', sans-serif;

}
.post-quote{
    border-left: 0.25em gray solid;
    padding-left: 5px;
    margin-left:0;
}
hr{
    height: 1px;
    background-color: rgba(1, 1, 1, 0.1);
    border: none;

 }
.post-title{
    font-family: 'Playfair Display', serif;

}
@media screen and (max-width: 1000px) {
    body{
        margin: 0 0;
        width:80%;
        font-size: 2em;
        padding:2em;
    }
    .post-quote{
        border-left:5px gray solid;
        padding-left: 1em;
    }
}